* {
    font-family: Helvetica, Arial, sans-serif;
}

body {background-color: wheat;}

p,h1 {
    text-align: center;
}

li {
    margin-bottom: 4px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 300px;
    /* width: 25%; */
}

.title {
    color:red;
}

.list {
    font-size: 16px;
}

.ingredients {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    color:blue
}

.method {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    color:green
}